@font-face {
    font-family: JetBrains;
    src: url(JetBrainsMono-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;

    display: flex;

    color: #323232;

    background-color: #323232;

    font-family: JetBrains, serif;
}

#card {
    margin: auto;

    background-color: #fcfcfc;

    border: solid 0.1rem #acacac;
    box-shadow: 0 1rem 3rem #0000004d;

    border-radius: 0.8rem;
    overflow: hidden;
}

#nav {
    background-color: #f1f1f1;
    border-bottom: solid 0.1rem #424242;

    display: flex;
    flex-direction: row;
}

#title {
    padding: 1rem;
    margin: 0;
}

#links {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: auto;

    padding: 1rem;
}

#links a {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.6rem;

    background-color: #424242;
    background-size: cover;
    mask: no-repeat center;
}

#links a:hover {
    background-color: #000000;
}

#text {
    width: 30rem;
    height: 15rem;
    padding: 1rem;
}

#error {
    text-align: center;
    padding: 3rem 6rem;
}

#links a:nth-child(1) {
    -webkit-mask-image: url(github.svg);
    mask-image: url(github.svg);
}
#links a:nth-child(2) {
    -webkit-mask-image: url(twitter.svg);
    mask-image: url(twitter.svg);
}
#links a:nth-child(3) {
    -webkit-mask-image: url(mastodon.svg);
    mask-image: url(mastodon.svg);
}
#links a:nth-child(4) {
    -webkit-mask-image: url(archive.svg);
    mask-image: url(archive.svg);
}