code {
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: var(--card-color);
    color: var(--text-paragraph-color);

    display: flex;
    flex-direction: column;
}

code > * {
    padding: 0.25rem;
}

code > *:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

code > *:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.diff-red {
    color: var(--text-title-color);
    background-color: #c93c37;
}

.diff-green {
    color: var(--text-title-color);
    background-color: #347d39;
}